* {
  font-family: Verdana;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center; 
  background-color: rgb(19,19,18);
}

.SubApp {
  width: 83vw;
  background-color: #F7F7EF;
}

.header {
  background-color: rgb(254,116,42);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}

.logo {
  display: flex;
  align-items: center;
  max-width: 180px;
}

.site {
  font-size: 18px;
}

img {
  width: 48px;
  margin-right: 8px;
}

form {
  width: calc(100% - 324px);
}

input {
  border-radius: 0;
  border: none;
  height: 42px;
  width: 100%;
  box-shadow: none;
  padding: 16px 144px 16px 54px;
  font-weight: 300;
  color: rgba(0,0,0,.75);
}

.settings {
  display: flex;
  align-items: center;
}

.settings div:first-child {
  font-size: 35px;
  margin: 0 8px;
}

.filtersContainer {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #F7F7EF;
}

.container {
  background-color: #F7F7EF;
  height: 100vh;
}

.story {
  padding: 0 16px;
  margin: 4px 0;
  min-height: 40px;
  flex-wrap: wrap;
}

.cardTop {
  display: flex;
}

.title {
  display: flex;
  width: 100%;
  font-size: 14px;
  margin-bottom: 4px;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #838283;
  font-size: 13px;
  word-wrap: break-word;
}

.cardBottom {
  display: flex;
  color: #696969;
  font-size: 10.6667px;
}

footer {
  background-color: rgb(19,19,18);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 8px 24px;
  font-size: 12px;
}