* {
  font-family: Verdana;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgb(19,19,18);
  display: flex;
  justify-content: center;
}

.SubApp {
  width: 85%;
}

.header {
  background-color: rgb(254,116,42);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  max-width: 180px;
}

img {
  width: 48px;
}

form {
  width: calc(100% - 324px);
}

input {
  border-radius: 0;
  border: none;
  height: 42px;
  width: 100%;
  box-shadow: none;
  padding: 16px 144px 16px 54px;
  font-weight: 300;
  color: rgba(0,0,0,.75);
}

.filtersContainer {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: white;
}

main {
  background-color: black;
}

.container {
  background-color: white;
}

.cardTop {
  display: flex;
}

.cardBottom {
  display: flex;
}