* {
  font-family: Verdana,Geneva,sans-serif;
}

/* .App {

} */

.header {
  background-color: rgb(254,116,42);
}

input {
  height: 50px;
}

.container {
  background-color: white;
}

.cardTop {
  display: flex;
}

.cardBottom {
  display: flex;
}